 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   font-family: Arial, sans-serif;
   margin: 0;
   background: var(--color-neutral-light);
 }

 .container {
   max-width: 1800px;
   height: 100vh;
   margin: auto;
   padding: 20px;
 }

 .section {
   background: white;
   border: 1px solid #ddd;
   display: flex;
   justify-content: space-around;
 }

 .section-title {
   padding: 10px;
   color: white;
   font-weight: bold;
 }

 /* LEFT COLUMN SECTION */
 .left-col-section {
   width: 45%;
   height: 100%;
   justify-content: space-between;
 }

 .info-section {
   display: flex;
   width: 100%;
   justify-content: space-between;
   background-color: #e8e8e8;
   padding: 10px;
 }

 .info-block {
   flex: 1;
   padding: 10px;
 }

 .form-section {
   width: 100%;
   padding: 1rem;
   background-color: #f0f0f0;
 }

 .form-group {
  margin-top: 15px;
 }

 .form-group input {
  margin-top: 0.5rem;
  padding: 0.7rem;
  border-radius: 6px;
}

 .btn-send-sale {
  background-color: var(--color-primary);
  color: var(--color-neutral-light);
  border: none;
  padding: 12px 24px;
  margin: 1rem 0;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
 }

 .button-group {
   display: flex;
   justify-content: center;
   justify-items: center;
   margin: 1rem 0.5rem 0 0;
 }

 .btn {
   padding: 10px;
   color: white;
   border: none;
   font-weight: bold;
   cursor: pointer;
   flex: 1;
 }

 .btn-red {
   background-color: #d32f2f;
 }

 .btn-green {
   background-color: var(--color-status-succes);
   border-radius: 6px;
 }
 /* END - LEFT COLUMN SECTION */

 /* RIGHT - COLUMN SECTION */
 .right-col-section {
   width: 45%;
   height: 100%;
 }

 input[type="text"] {
   width: 100%;
   padding: 5px;
   background: #ccc;
   border: none;
 }


 .finalize {
   background-color: var(--color-status-success);
   color: var(--color-text-light);
   padding: 15px;
   text-align: center;
   font-weight: 500;
   margin-top: 10px;
   border-radius: 6px;
 }

 .table-cart {
   min-height: 500px;
 }

 table {
   width: 100%;
   border-collapse: collapse;
 }

 th,
 td {
   padding: 10px;
   text-align: center;
   background-color: #ccc;
 }

 th {
  color: var(--color-text-light);
   background-color: var(--color-blue-secondary);
   font-weight: 500;
 }


 .total-section {
   background-color: var(--color-blue-secondary);
   padding: 10px;
   color: white;
   font-size: 1.2em;
   border-radius: 6px;
 }

 .total-value {
   text-align: right;
   font-size: 1.5em;
   font-weight: bold;
 }

 .sale-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 /* END - RIGHT COLUMN SECTION */

 .floating-list {
   position: fixed;
   top: 300px;
   left: 30vw;
   min-width: 15vw;
   min-height: 10vw;
   background: rgba(0, 0, 0, 0.6);
   padding: 10px 15px;
   border-radius: 10px;
   list-style: none;
   z-index: 9999;
 }

 .floating-list li {
   color: #fff;
   /* Texto branco */
   margin: 5px 0;
 }