* {
    padding: 0;
    margin: 0;
}

.users-panel {
    width: 30vw;
    height: 100vh;
    padding: 2rem;
    background-color: #d2d3d2;
    margin: 0;
    overflow: auto;
}

.box-user {
    background-color: #e3f3eb;
    padding: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    overflow-y: auto;
    border-right: 1px solid #cccccc80;
    border-radius: 15px;
    width: 90%;

    h2 {
        font-weight: 500;
        font-size: 1.4rem;
    }

    .email {
        color: rgb(5, 103, 103);
    }
    .role {
        font-size: 0.9rem;
        color: #2563eb;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 0;
    }    

    .user-actions {
        display: flex;
        gap: 10px;
        justify-content: end;
        margin-top: 1.5rem;
    }

    .btn {
        padding: 8px 14px;
        border-radius: 8px;
        font-size: 0.9rem;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;
        text-decoration: none;
        min-width: 15%;
    }

    .btn.edit {
        background-color: #2563eb;
        color: white;
    }

    .btn.edit:hover {
    background-color: #1d4ed8;
    }

    .btn.delete {
        background-color: #dc2626;
        color: white;
    }

    .btn.delete:hover {
        background-color: #b91c1c;
    }
}
